@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@supports (font-variation-settings: normal) {
   body {
      font-family: "Inter var", sans-serif
   }
}

@supports (font-variation-settings: normal) {
   h3 {
      font-family: "MedievalSharp", sans-serif
   }
}

h3 {
   font-family: "MedievalSharp"
}

@font-face {
   font-family: "Gothiccc";
   src: local(''), url('../public/fonts/bitmgothic/Bitmgothic.woff') format('woff');
   font-weight: normal;
   font-style: normal
}

* {
   box-sizing: border-box;
}


/* @layer base {
   @font-face {
      font-family: "MAJORPAPI";
      src: font-url("/public/fonts/rm_albion.ttf") format('truetype');
   }
} */

html, body {
   padding: 0;
   margin: 0;
   font-family: "Inter", sans-serif  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
   background-color: black;
   color: white;
}

a {
   color: inherit;
   text-decoration: none
}

a:hover, a:focus, a:active {
   text-decoration: underline;
   color: inherit;
}
